Source: rt-extension-spawnlinkedticketinqueue
Section: perl
Priority: optional
Maintainer: Debian Request Tracker Group <pkg-request-tracker-maintainers@lists.alioth.debian.org>
Uploaders: KURASHIKI Satoru <lurdan@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
 ,perl-modules
 ,libmodule-install-rtx-perl
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-request-tracker/rt-extension-spawnlinkedticketinqueue.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-request-tracker/rt-extension-spawnlinkedticketinqueue.git
Homepage: http://search.cpan.org/dist/RT-Extension-SpawnLinkedTicketInQueue/

Package: rt4-extension-spawnlinkedticketinqueue
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 request-tracker4,
 perl
Description: quickly spawn linked tickets in different queues (Request Tracker)
 After installing this RT extension, on ticket's page in the Links block you
 should see new controls.

